*{
    margin: 0;
    padding: 0;
}
.AdminNav{
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
}
.AdminNav h1{
    color: white;
}
.AdminContainer{
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    padding-right: 10px;
}
.AdminContainer a{
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: 22px;
}
.AdminBodyContainer{
    background-image: url(../images/web_background.jpg);
    background-size: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    color: white;
}