*{
    margin: 0;
    padding: 0;
}
.HomeNav{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
}
.HomeNav h1{
    color: white;
}
.HomeNavContainer{
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    padding-right: 10px;
}
.HomeNavContainer a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 22px;
}
.HomeNavContainer a:hover{
    text-decoration: underline;
}
.HomeBodyContainer{
    color: white;
    height: 100vh;
    background-image: url(../images/web_background.jpg);
    background-size: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}